<% include ./partials/header%>
<div class="container">
  <div>
    <h1>Chess Tournament on 25<sup>th</sup> of March</h1>
    <h2>Vadodara</h2>
    <a href="/registerVadodara" class="btn btn-primary btn-large">Register Now</a>
  </div>
  <div>
    <h1>Chess Tournament on 13<sup>th</sup> of April</h1>
    <h2>Nadiad</h2>
    <a href="/registerNadiad" class="btn btn-primary btn-large">Register Now</a>
  </div>
  <div>
    <h1>Chess Tournament on 06<sup>th</sup> of June</h1>
    <h2>Surat</h2>
    <a href="/registerSurat" class="btn btn-primary btn-large">Register Now</a>
  </div>
</div>
<a type="button" href="/robinPair">Round Robin</a>
<% include ./partials/footer%>
